.dashboard-header
  %h3
    ="HI #{@current_user.name}"
  %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", :type => "button"}
    Upload File
#sort
  %form.sort_form{action: dashboard_path}
    %strong
      Sort by: 
    %select{name: "sorting"}
      %option{value: "created_at-desc"} Date Recent First
      %option{value: "created_at-asc"} Date Recent Last
      %option{value: "file_size-desc"} Size Larger First
      %option{value: "file_size-asc"} Size Smaller First
%br
%br

%table.table
  %caption List of files
  %thead
    %tr
      %th{:scope => "col"} #
      %th{:scope => "col"} Name
      %th{:scope => "col"} Size
      %th{:scope => "col"} Options
      %th{:scope => "col"} Created At
  %tbody
    
    -if !@artifacts.blank?
      - @artifacts.each_with_index do | artifact , index|
        %tr
          %th{:scope => "row"}
            =index + 1
          %td 
            =artifact.file_name
          %td 
            = "#{artifact.file_size.to_i/ 1.kilobyte} KB"
          %td 
            = link_to "Delete", artifact, method: :delete, data: { confirm: "You sure?" }
            =" | "
            = link_to "Download", download_path({id: artifact.id}),target: "_blank"
            = " | "
            =link_to 'Preview','#',class: 'preview_link' , id: "#{index }"

          %td 
            =artifact.created_at.in_time_zone("Chennai").strftime("%d-%m-%Y %I:%M:%S %p")
          
    - else
      %tr
        %th{:colspan=> "4"}
          = "No Files Found"

= will_paginate @artifacts

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      =form_for(@artifact) do |f|
        .modal-header
          %h5#exampleModalLabel.modal-title Upload File
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body.picture
          = f.file_field :file , accept: "image/*"
        .modal-footer
          %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
          =f.submit "Upload", class: "btn btn-primary"

#slideShow.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-xl.modal-dialog{:role => "document"}
    .modal-content
      #carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
        %ol.carousel-indicators
          %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
          %li{"data-slide-to" => "2", "data-target" => "#carouselExampleIndicators"}
        .carousel-inner
          -@artifacts.each_with_index do |artifact,index|
            -if index == 0
              .carousel-item.active
                %img.d-block.w-100{:alt => "First slide", :src => artifact.file_location[51..]}/
            -else
              .carousel-item
                %img.d-block.w-100{:alt => "First slide", :src => artifact.file_location[51..]}/
        %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
          %span.carousel-control-prev-icon{"aria-hidden" => "true"}
          %span.sr-only Previous
        %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
          %span.carousel-control-next-icon{"aria-hidden" => "true"}
          %span.sr-only Next



:javascript
  
  
  $(document).ready(function() { 
    $('select').on("change", function(){
      $(".sort_form").submit()
      
    })
    var a  = "#{params[:sorting]}"
    if (a){
      $('select').val(a)
    }
    $(document).on('click', '.preview_link', function(e) {
      $('#slideShow').modal()
      $('#carouselExampleIndicators').carousel(parseInt($(this).attr('id')))
      console.log($(this).attr('id'))
      e.preventDefault();
    })
    
  });

  

